{% extends 'bootstrap.html' %}
{% block content %}
<div class='offset5 pagination-centered span3 well'>
    Forgotten your username or password?
    <br>No sweat.<br>
    Enter your e-mail address below and we'll send you an e-mail with your username and a link allowing you to reset your password.<hr>
    {% if iforgotform.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in iforgotform %}
        {% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST">{% csrf_token %}
        {{ iforgotform.email }}
        <input class="btn btn-info" type="submit" value="I forgot" />
    </form>
    <hr>
    Nevermind, <a href='/'>I remembered it</a> .
</div>
{% endblock %}
