{% extends 'invite/base.html' %}
{% block content %}
    {% if perms.invite.add_invitation %}
        <div class='centered'>
            <div class='well'>
                <h3>Who would you like to invite, {{ user.first_name|title }}?</h3>
                <form action='/accounts/invite/' method="post">{% csrf_token %}
                    <div class='pull-left'>
                        <small>{{ invite_form.first_name.errors.as_text }}</small>
                    </div>
                    <div class='pull-right'>
                        <small>{{ invite_form.last_name.errors.as_text }}</small>
                    </div>
                    <div class="control-group">
                        {{ invite_form.first_name }}
                        {{ invite_form.last_name }}
                    </div>
                    <div class='pull-left'>
                        <small>{{ invite_form.email.errors.as_text }}</small>
                    </div>
                    <div class='pull-right'>
                        <small>{{ invite_form.user_name.errors.as_text }}</small>
                    </div>
                    <div class="control-group">
                        {{ invite_form.email }}
                        {{ invite_form.user_name }}
                    </div>
                        {{ invite_form.custom_msg }}
                    <div class="control-group">
                        <div class="input-prepend">
                            <span class='add-on'>{{ invite_form.can_invite.label|title }}</span>
                            <div class="make-switch" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
                                {{ invite_form.can_invite }}
                            </div>
                        </div>

                        <div class="input-prepend">
                            <span class='add-on'>{{ invite_form.is_super_user.label|title }}</span>
                            <div class="make-switch" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
                                {{ invite_form.is_super_user }}
                            </div>
                        </div>

                    </div>
                    <div class="control-group">
                        <input type='submit' value='Send email invite' class="btn btn-large btn-block btn-primary" type="button">
                    </div>
                </form>
            <div>
        <div>
    {% else %}
        <h3>
            <i class="icon-remove"></i> Sorry, {{ user.first_name|title }}, you don't have invite permission.
        </h3>
    {% endif %}
{% endblock %}
