{% extends 'bootstrap.html' %}
{% block visible-title %} Edit System{% endblock %}

{% block content %}
<div class='centered'>
    <div class='offset5 pagination-centered span3 well'>
        Enter your new password <em>twice</em> and click submit to reset your password.
        <br>
        <br>
        You should receive a confirmation email afterwards.
        {% if resetform.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for field in resetform %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <form action='/accounts/reset/?reset_code={{ reset_code }}' method="POST">{% csrf_token %}
            <div>{{ resetform.password }}</div>
            <div>{{ resetform.password2 }}</div>
            <div><input type="submit" value="Submit" /></div>
        </form>
    </div>
</div>
{% endblock %}
