{% extends 'invite/base.html' %}
{% block title %}Invite Signup{% endblock %}

{% block content %}
    <div class='span6 well' style="float: none; margin-left: auto; margin-right: auto;">
        <form action='/accounts/signup/?code={{ activation_code }}' method="POST">{% csrf_token %}
            <legend><i class="icon-thumbs-up"></i> Welcome to the {{ service_name }}, {{ form.first_name.value|title }}!</legend>
            <div class='row-fluid'>
                <div class="span6"> <!-- FIRST COLUMN -->
                    <label>{{ form.first_name.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.first_name }}
                    <label>{{ form.email.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.email }}
                    <label>{{ form.password.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.password }}
                </div>

                <div class="span6"> <!-- SECOND COLUMN -->
                    <label>{{ form.last_name.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.last_name }}
                    <label>{{ form.username.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.username }}
                    <label>{{ form.password2.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.password2 }}
                </div>
                <div class="control-group">
                    <input type='submit' value='Register' class="btn btn-large btn-block btn-primary" type="button">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
