{% extends 'invite/base.html' %}
{% block content %}
<div class='centered'>
    <div class='span6 well'>
        <h3><i class="icon-thumbs-up"></i> Welcome to {{ service_name }}, {{ form.first_name.value|title }}!</h3>
        <form action='/accounts/signup/?code={{ activation_code }}' method="POST">{% csrf_token %}
            <small>{{ form.first_name.errors.as_text }}</small>
            <small>{{ form.last_name.errors.as_text }}</small>
            <div class="control-group">
                {{ form.first_name }}
                {{ form.last_name }}
            </div>
            <small>{{ form.email.errors.as_text }}</small>
            <small>{{ form.user_name.errors.as_text }}</small>
            <div class="control-group">
                {{ form.email }}
                {{ form.user_name }}
            </div>
            <hr>
            <small>{{ form.password.errors.as_text }}</small>
            <small>{{ form.password2.errors.as_text }}</small>
            <div class="control-group">
                {{ form.password }}
                {{ form.password2 }}
            </div>
            <div class="control-group">
                <input type='submit' value='Register' class="btn btn-large btn-block btn-primary" type="button">
            </div>
        </form>
    </div>
</div>
{% endblock %}
