<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style type="text/css"> body { padding-top: 00px; }</style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/latest/js/bootstrap.min.js"></script>
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">

        <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"
        type="text/css"
        media="all">
        <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript"></script>

        {% block head-extra %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-inner">
                <div class="container-fluid" style="padding-left: 40px;">
                    <ul class="nav">
                        <li><a class="navbar-brand" href="{% url 'invite:index' %}"><small>Invite</small></a></li>
                        <li class="nav-item dropdown">
                             <a class="navbar-brand dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <small>Menu</small>
                                <i class="icon-white bi bi-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                 <li class="dropdown-menu dropdown-menu-right">Invite</li>
                                <li><a href="{% url 'invite:index' %}"><small>Accounts</small></a></li>
                                <li><a href="{% url 'invite:invite' %}"><small>Invite</small></a></li>
                            </ul>
                        </li>
                        <li><a class="navbar-brand" href="{% url 'invite:about' %}"><small>About</small></a></li>

                        {% if user.is_authenticated %}
                            <li><a class="navbar-brand" href="{% url 'invite:edit_logout' %}"><i class="fas fa-road"></i><small> Log out</small></a></li>
                        {% else %}
                            <li><a class="navbar-brand" href="{% url 'invite:login' %}"><small><i class="fas fa-key"></i> Log in</small></a></li>
                        {% endif %}

                        <li class="divider-vertical"></li>

                        {% if user.is_authenticated %}
                            <li class='text-white float-right'><a><small>Signed in as: <i class="fas fa-user-alt"></i> {{ user }}</small></a></li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>
        <div id="body">
            {% block body %}
                <div class="content_title">
                    {% block content_title %}{% endblock %}
                </div>
                <div class="content container-fluid">
                    {% if maintenance_message %}
                        <div class="alert alert-block alert-warning">
                            <strong>{{ maintenance_message }}</strong>
                        </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </body>
</html>
