{% extends 'invite/base.html' %}
{% block title %}Invite Users{% endblock %}

{% block head-extra %}
    <script type="text/javascript">
    $(document).ready(function() {
        // Code adapted from http://djangosnippets.org/snippets/1389/
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+-)');
            var replacement = prefix + '-' + ndx + '-';
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
     replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function deleteForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.control-group').remove();

                var forms = $('#invitees .control-group'); // Get all the forms

                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }

                // Make sure the first row always has the button to add new rows
                var addBtn = '<button id="add" class="btn btn-info" href="#"><i class="icon-plus"></i></button>';
                if (forms.first().find("button#add").length === 0){
                    forms.first().find('.delete').after(addBtn); 
                    // Register the click event handler
                    $("#add").click(function() {
                        return addForm(this, 'form');
                    });
                }


            } // End if
            else {
                    alert("You have to enter at least one invite");
            }
            return false;
        }

        function addForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

                // Clone a form (without event handlers) from the first form
                var row = $("#invitees .control-group:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter("#invitees .control-group:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass('error');
                // Remove the button for adding rows
                $("#add", row).remove();

                // Relabel/rename all the relevant bits
                $(row).children().children().each(function() {
                    updateElementIndex(this, prefix, formCount);
                    if ( $(this).attr('type') == 'text' )
                        $(this).val('');
                });

                // Add an event handler for the delete item/form link
                $(row).find('.delete').click(function() {
                    return deleteForm(this, prefix);
                });

                // Update the total form count
                $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);

            return false;
        }

        $("#invite").on('submit',function(e){
            var $form = $(this);
            if ($form.data('submitted') === true) {
                // Previously submitted - don't submit again
                e.preventDefault();
            } else {
                // Mark it so that the next submit can be ignored
                $("#invite-button").removeClass("btn-primary").addClass("btn-inverse").addClass("disabled");
                $form.data('submitted', true);
            }
        });

        // Register the click event handlers
        $("#add").click(function() {
            return addForm(this, 'form');
        });

        $(".delete").click(function() {
            return deleteForm(this, 'form');
        });

        // Search through available <options> and show only those that match
        function searchOptions() {
            var searchTerm = $(this).val().toLowerCase();
            var options = $(this).parent().siblings().find('option');

            for (i=0; i< options.length; i++) {
                if (options[i].text.toLowerCase().indexOf(searchTerm) > -1) {
                    options[i].style.display = '';
                } else {
                    options[i].style.display = 'none';
                }
            }
        }

        // Register the keyup event handler so the search boxes work
        $("#perms-search, #groups-search").keyup(searchOptions);
    })
    </script>

{% endblock %}

{% block content %}
    {% if perms.invite.add_invitation %}
        <h3>Whom would you like to invite, {{ request.user|title }}?</h3>
        <form id='invite' class="navbar-form form-horizontal" method="POST">{% csrf_token %}
            {{ invite_item_formset.management_form }}
            <div class='well well-small' id="invitees">
                {% for form in invite_item_formset %}
                     {% if form.errors %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {% for field in form %}
                                {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div id='{{ form.prefix }}-row' class='form-horizontal row control-group' style='margin-bottom: 10px;'>
                        <div class="span9" >
                            {{ form.first_name }}
                            {{ form.last_name }}
                            {{ form.email }}
                            {{ form.username }}
                            <label class='label label-inverse' style='width:105px;'>Superuser? {{ form.is_super_user }}</label>
                        </div>
                        <div class="span2">
                            <button class="delete btn btn-danger" href="#"><i class='icon-remove'></i></button>
                            <button id='add' class="btn btn-info" href="#"><i class='icon-plus'></i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class='well well-small'>
                <div class="control-group">
                    <label class="control-label" style='text-align: left;'>
                        Optional Greeting
                    </label>
                    <div class="controls">
                        {{ invite_item_formset.forms.0.greeting }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" style='text-align: left;'>
                        {{ invite_item_formset.forms.0.permissions.label }}
                    </label>
                    <div class="controls">
                        <input type="text" id="perms-search" placeholder="Search permissions." class="span7"/>
                    </div>
                    <div class="controls">
                        {{ invite_item_formset.forms.0.permissions }}
                        <span class="help-block">Hold control to select multiple</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" style='text-align: left;'>
                        {{ invite_item_formset.forms.0.groups.label }}
                    </label>
                    <div class="controls">
                        <input type="text" id="groups-search" placeholder="Search groups." class="span7"/>
                    </div>
                    <div class="controls">
                        {{ invite_item_formset.forms.0.groups }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls span7">
                        <input name="invite-button" id="invite-button" class="btn btn-primary btn-large btn-block" type="submit" value="Send email invitation(s)"/>
                    </div>
                </div>
            </div>
        </form>

    {% else %}
    <h3>
        <i class="icon-remove"></i> Sorry {{ user.first_name|title }}, you don't have invite permission. <a href="{% url 'invite:index' %}">Back to accounts page</a>
    </h3>
    {% endif %}

{% endblock %}
