{% extends 'invite/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class='row'>

        {% if user.is_authenticated %}
            <div class="span4 offset-4 well">
                <h3>{{ user.first_name }}, you're already signed in. If your username is not {{ user }}, please log out of the system.</h3>
            <div>
        {% else %}
            <div class='pagination-centered well span2' style="float: none; margin-left: auto; margin-right: auto;">
                <form action="{% url 'invite:login' %}" method="post">{% csrf_token %}
                    {{ login_form.non_field_errors }}
                    {{ login_form.username.errors }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-user"></i></span>
                        {{ login_form.username }}
                    </div>
                    {{ login_form.password.errors }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-key"></i></span>
                        {{ login_form.password }}
                    </div>
                    <input type='submit' value='Login' class="btn btn-block btn-primary" type="button">
                    <br><a href="{% url 'invite:amnesia' %}">I forgot my username or password.</a>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
