{% extends 'invite/base.html' %}
{% block title %}Invite Signup{% endblock %}

{% block content %}
    <div class='col-md-6 well' style="float: none; margin-left: auto; margin-right: auto;">
        <form action="{% url 'invite:account_signup' %}?code={{ activation_code }}" method="POST">{% csrf_token %}
            <legend><i class="glyphicon .glyphicon-thumbs-up"></i> Welcome to the {{ service_name }}, {{ form.first_name.value|title }}!</legend>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class='row'>
                <div class="col-md-6"> <!-- FIRST COLUMN -->
                    <label>{{ form.first_name.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.first_name }}
                    <label>{{ form.email.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.email }}
                    <label>{{ form.password.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.password }}
                </div>
                <div class="col-md-6"> <!-- SECOND COLUMN -->
                    <label>{{ form.last_name.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.last_name }}
                    <label>{{ form.username.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.username }}
                    <label>{{ form.password2.label }}</label>
                    <!-- <label for="textfield"></label> -->
                    {{ form.password2 }}
                </div>
                <input type='submit' value='Register' class="btn btn-large btn-block btn-primary" type="button">
            </div>
        </form>
    </div>
{% endblock %}
